<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>CiudadaníaColectiva</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Inicio</a></li>
	            <li><a href="#desc" class="smothscroll">Ejecutivo</a></li>
	            <li><a href="#showcase" class="smothScroll">Legislativo</a></li>
	            <li><a href="#contact" class="smothScroll">Judicial</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>